.depend
*.crt
*.debug
*.full
*.gz
*.key
*.log
*.o
*.req
*.srl
md5-*
src/regress/usr.sbin/httpd/patterns/patterns-tester
src/regress/usr.sbin/httpd/tests/htdocs
src/regress/usr.sbin/httpd/tests/httpd.conf
src/usr.bin/htpasswd/htpasswd
src/usr.sbin/httpd/httpd
src/usr.sbin/httpd/parse.c
src/usr.sbin/httpd/parse.h
